<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">    
<style>   
    Body {  
      font-family: "Times New Roman", Times, serif;  
      background-image: url(https://www.nicepng.com/png/detail/213-2132305_export-csv-icon-computer-file.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 50% 90%;
    
    }  

    </style> 
</head>    
<body>
    <center> <h1> TABLE IMAGE TO CSV CONVERTER </h1> </center>
    <form action = "/uploader" method = "POST" 
       enctype = "multipart/form-data">
       <input type = "file" name = "file" required accept="image/x-png,image/jpg,image/jpeg"/>
       <br>
       <input type = "submit"/>
    </form>


 </body>    
</html>